-----------------------------------------------------
Created on: 30-08-2022                              
Author: Rohit Sharma                                
                                                     
-----------------------------------------------------

# PySpark Handling Missing Values
* Filter Operation
* &,|,==
* ~

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [4]:
df_spark = spark.read.csv("test3.csv",header=True, inferSchema=True)

In [5]:
df_spark.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|    Ram| 28|         1| 10000|
|  Rohan| 27|         3| 30000|
|  Mohan| 25|         4| 40000|
|    Raj| 20|         2| 20000|
|   Neha| 24|         2| 20000|
|Prateek| 23|         5| 50000|
|  Mukul| 26|         3| 30000|
+-------+---+----------+------+

# Filter operations

In [6]:
# Salary of the people less than or equal to 20000
df_spark.filter("Salary<=20000").show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| Ram| 28|         1| 10000|
| Raj| 20|         2| 20000|
|Neha| 24|         2| 20000|
+----+---+----------+------+

In [8]:
df_spark.filter("Salary<=20000").select(['Name', 'Age']).show()

+----+---+
|Name|Age|
+----+---+
| Ram| 28|
| Raj| 20|
|Neha| 24|
+----+---+

In [9]:
df_spark.filter(df_spark['Salary']<=20000).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| Ram| 28|         1| 10000|
| Raj| 20|         2| 20000|
|Neha| 24|         2| 20000|
+----+---+----------+------+

In [11]:
df_spark.filter((df_spark['Salary']<=20000) | 
                (df_spark['Salary']>=15000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|    Ram| 28|         1| 10000|
|  Rohan| 27|         3| 30000|
|  Mohan| 25|         4| 40000|
|    Raj| 20|         2| 20000|
|   Neha| 24|         2| 20000|
|Prateek| 23|         5| 50000|
|  Mukul| 26|         3| 30000|
+-------+---+----------+------+

In [12]:
#inverse condition operation
df_spark.filter(~(df_spark['Salary']<=20000)).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Rohan| 27|         3| 30000|
|  Mohan| 25|         4| 40000|
|Prateek| 23|         5| 50000|
|  Mukul| 26|         3| 30000|
+-------+---+----------+------+