-----------------------------------------------------
Created on: 28-08-2022                              
Author: Rohit Sharma                                
                                                     
-----------------------------------------------------
<centre> # PySpark Basix Introduction <br>
 - Install pyspark for python <br>
 - **!pip install pyspark**

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv('test.csv')

      Name  Age
0      Ram   28
1    Rohan   27
2    Mohan   25
3      Raj   20
4     Neha   24
5  Prateek   23
6    Mukul   26
7    Disha   26
8    Namit   27

In [4]:
#when work with pyspark always start spark session first
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [6]:
spark

In [8]:
#Read dataset using spark
df_spark = spark.read.csv('test.csv')

In [9]:
#Show table
df_spark.show()

+-------+---+
|    _c0|_c1|
+-------+---+
|   Name|Age|
|    Ram| 28|
|  Rohan| 27|
|  Mohan| 25|
|    Raj| 20|
|   Neha| 24|
|Prateek| 23|
|  Mukul| 26|
|  Disha| 26|
|  Namit| 27|
+-------+---+

In [10]:
spark.read.option('header', 'true').csv('test.csv').show() #to show headers

+-------+---+
|   Name|Age|
+-------+---+
|    Ram| 28|
|  Rohan| 27|
|  Mohan| 25|
|    Raj| 20|
|   Neha| 24|
|Prateek| 23|
|  Mukul| 26|
|  Disha| 26|
|  Namit| 27|
+-------+---+

In [11]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [12]:
df_spark.head(3)

[Row(_c0='Name', _c1='Age'),
 Row(_c0='Ram', _c1='28'),
 Row(_c0='Rohan', _c1='27')]

In [14]:
#it is similar like as df.info to get more information from data
df_spark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)